Repository plkt/voting-app: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/result-cicd.yaml, .azure-pipelines/vote-cicd.yaml, .azure-pipelines/worker-cicd.yaml

Path conditions:
  .azure-pipelines/result-cicd.yaml: any of: result, .azure-pipelines/result-cicd.yaml, manifests/result.yaml
  .azure-pipelines/vote-cicd.yaml: any of: vote, .azure-pipelines/vote-cicd.yaml, manifests/vote.yaml
  .azure-pipelines/worker-cicd.yaml: any of: worker, .azure-pipelines/worker-cicd.yaml, manifests/worker.yaml

Update vote-cicd.yaml for Azure Pipelines
  .azure-pipelines/vote-cicd.yaml
Due: .azure-pipelines/vote-cicd.yaml

Wiring up Azure Monitor
  .azure-pipelines/vote-cicd.yaml
Due: .azure-pipelines/vote-cicd.yaml

Update result.yaml for Azure Pipelines
  result.yaml
Due: none

Update README.md
  vote/README.md
Due: .azure-pipelines/vote-cicd.yaml

Update style.css
  vote/static/stylesheets/style.css
Due: .azure-pipelines/vote-cicd.yaml

updated the colors of the cat button
  vote/static/stylesheets/style.css
Due: .azure-pipelines/vote-cicd.yaml

Update worker-cicd.yaml for Azure Pipelines
  .azure-pipelines/worker-cicd.yaml
Due: .azure-pipelines/worker-cicd.yaml

updated the colors of the cat button to add8e6
  vote/static/stylesheets/style.css
Due: .azure-pipelines/vote-cicd.yaml

Fixed AB#142
  vote/README.md
Due: .azure-pipelines/vote-cicd.yaml

Implemented IaC and this fixes AB#142
  .azure-pipelines/worker-cicd.yaml
Due: .azure-pipelines/worker-cicd.yaml

Implement the IaC script update and this fixes AB#141
  .azure-pipelines/worker-cicd.yaml
Due: .azure-pipelines/worker-cicd.yaml

reset
  vote/static/stylesheets/style.css
Due: .azure-pipelines/vote-cicd.yaml

Make every vote count.
  vote/app.py
Due: .azure-pipelines/vote-cicd.yaml

Fixed issues in index file AB#18
  vote/templates/index.html
Due: .azure-pipelines/vote-cicd.yaml

Fixed index file issues AB#12 AB#18
  vote/templates/index.html
Due: .azure-pipelines/vote-cicd.yaml
