Repository plkt/voting-app: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/result-cicd.yaml, .azure-pipelines/vote-cicd.yaml, .azure-pipelines/worker-cicd.yaml

Path conditions:
  .azure-pipelines/result-cicd.yaml: any of: result, .azure-pipelines/result-cicd.yaml, manifests/result.yaml
  .azure-pipelines/vote-cicd.yaml: any of: vote, .azure-pipelines/vote-cicd.yaml, manifests/vote.yaml
  .azure-pipelines/worker-cicd.yaml: any of: worker, .azure-pipelines/worker-cicd.yaml, manifests/worker.yaml

Update worker-arm-cicd.yaml for Azure Pipelines
  .azure-pipelines/worker-arm-cicd.yaml
Due: none

Create acr.json
  arm-templates/acr.json
Due: none

Update worker-cicd.yaml for Azure Pipelines
  .azure-pipelines/worker-cicd.yaml
Due: .azure-pipelines/worker-cicd.yaml

Delete worker-arm-cicd.yaml
  .azure-pipelines/worker-arm-cicd.yaml
Due: none

Removing failing test for vote-cicd pipeline
  tests/FileExistenceTest.yml
Due: none

Removing failing test
  tests/FileExistenceTest.yml
Due: none

Update vote-cicd.yaml for Azure Pipelines
  .azure-pipelines/vote-cicd.yaml
Due: .azure-pipelines/vote-cicd.yaml

Create README.md
  vote/README.md
Due: .azure-pipelines/vote-cicd.yaml

added vms for dev and qa
  result.yaml
Due: none

removed deploy steps to dev and qa
  result.yaml
Due: none

added deploy job sequence
  result.yaml
Due: none

added deploy to dev and qa
  result.yaml
Due: none

corrected job sequence in prod
  result.yaml
Due: none

updated vm
  result.yaml
Due: none

added port 400 to arm
  arm-templates/linux-vm2.json
Due: none

Update Program.cs
  worker/Program.cs
Due: .azure-pipelines/worker-cicd.yaml

Update README.md
  worker/README.md
Due: .azure-pipelines/worker-cicd.yaml

Update result.yaml for Azure Pipelines #1
  result.yaml
Due: none

Update result.yaml
  result.yaml
Due: none

Update result.yaml for Azure Pipelines
  result.yaml
Due: none

Changed metadata AB#13
  result.yaml
Due: none

Updated metadata AB#140
  result.yaml
Due: none
