Repository plkt/voting-app: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/result-cicd.yaml, .azure-pipelines/vote-cicd.yaml, .azure-pipelines/worker-cicd.yaml

Path conditions:
  .azure-pipelines/result-cicd.yaml: any of: result, .azure-pipelines/result-cicd.yaml, manifests/result.yaml
  .azure-pipelines/vote-cicd.yaml: any of: vote, .azure-pipelines/vote-cicd.yaml, manifests/vote.yaml
  .azure-pipelines/worker-cicd.yaml: any of: worker, .azure-pipelines/worker-cicd.yaml, manifests/worker.yaml

Update Program.cs
  worker/Program.cs
Due: .azure-pipelines/worker-cicd.yaml

Update worker-cicd.yaml for Azure Pipelines
  .azure-pipelines/worker-cicd.yaml
Due: .azure-pipelines/worker-cicd.yaml

Update readme for K8s support
  vote/README.md
Due: .azure-pipelines/vote-cicd.yaml

Update readme.md
  readme.md
Due: none

Fixed index file issues AB#12 AB#18 #22
  vote/templates/index.html
Due: .azure-pipelines/vote-cicd.yaml
