Repository plkt/voting-app: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/result-cicd.yaml, .azure-pipelines/vote-cicd.yaml, .azure-pipelines/worker-cicd.yaml

Path conditions:
  .azure-pipelines/result-cicd.yaml: any of: result, .azure-pipelines/result-cicd.yaml, manifests/result.yaml
  .azure-pipelines/vote-cicd.yaml: any of: vote, .azure-pipelines/vote-cicd.yaml, manifests/vote.yaml
  .azure-pipelines/worker-cicd.yaml: any of: worker, .azure-pipelines/worker-cicd.yaml, manifests/worker.yaml

Update vote-cicd.yaml for Azure Pipelines
  .azure-pipelines/vote-cicd.yaml
Due: .azure-pipelines/vote-cicd.yaml

Update Program.cs
  worker/Program.cs
Due: .azure-pipelines/worker-cicd.yaml

Update README.md
  worker/README.md
Due: .azure-pipelines/worker-cicd.yaml

Update readme.md
  readme.md
Due: none

Update worker-cicd.yaml for Azure Pipelines
  .azure-pipelines/worker-cicd.yaml
Due: .azure-pipelines/worker-cicd.yaml

Moving back to commit 4a1839d04c20ca36fd57228f128a4ab75d723b7d: Cleaning up console logging
  worker/Program.cs
Due: .azure-pipelines/worker-cicd.yaml

Update Dockerfile
  vote/Dockerfile
Due: .azure-pipelines/vote-cicd.yaml

Update app.py
  vote/app.py
Due: .azure-pipelines/vote-cicd.yaml

Update service.yaml
  vote/helm/templates/service.yaml
Due: .azure-pipelines/vote-cicd.yaml

Update deployment.yaml
  vote/helm/templates/deployment.yaml
Due: .azure-pipelines/vote-cicd.yaml

Create fortio.yml
  automation/fortio.yml
Due: none

Create servicemonitor.yml
  automation/servicemonitor.yml
Due: none

added path filters for result microservice
  result.yaml
Due: none

added load balanced vm arm
  arm-templates/linux-vm-with-lb.json
Due: none

added params for arm
  arm-templates/linux-vm-with-lb-params.json
Due: none

added path echo
  result/deploy.sh
Due: .azure-pipelines/result-cicd.yaml

Isolate dev qa and prod infra
  .azure-pipelines/worker-cicd.yaml
Due: .azure-pipelines/worker-cicd.yaml

parallel review app and product flow
  .azure-pipelines/worker-cicd.yaml
Due: .azure-pipelines/worker-cicd.yaml

Removing arm based infra creation
  .azure-pipelines/worker-cicd.yaml
Due: .azure-pipelines/worker-cicd.yaml
