Repository plkt/voting-app: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/result-cicd.yaml, .azure-pipelines/vote-cicd.yaml, .azure-pipelines/worker-cicd.yaml

.azure-pipelines/result-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

.azure-pipelines/vote-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

.azure-pipelines/worker-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - template: buildJob.yml@templates
      parameters:
        name: worker
        vmImageName: $(vmImageName)
        imageRepository: $(imageRepository)
        dockerfilePath: $(dockerfilePath)
  ...

Update vote-cicd.yaml for Azure Pipelines
  .azure-pipelines/vote-cicd.yaml
Due: .azure-pipelines/vote-cicd.yaml

Update style.css
  vote/static/stylesheets/style.css
Due: .azure-pipelines/vote-cicd.yaml

Update FileExistenceTest.yml
  tests/FileExistenceTest.yml
Due: none

Changing storage from Azure Table Storage to Azure SQL
  result/Dockerfile
  result/package.json
  result/server.js
  worker/Dockerfile
  worker/Program.cs
  worker/TableEntities.cs
  worker/worker.csproj
Due: .azure-pipelines/result-cicd.yaml, .azure-pipelines/worker-cicd.yaml

added result.yaml
  arm-templates/linux-vm2.json
  result.yaml
  result/deploy.sh
  result/server.js
Due: .azure-pipelines/result-cicd.yaml

set up result service on vm
  result.yaml
Due: none

added vm details #1
  result.yaml
Due: none

added vm details
  result.yaml
Due: none

updated vm names #1
  result.yaml
Due: none

Updating service connection
  .azure-pipelines/worker-cicd.yaml
Due: .azure-pipelines/worker-cicd.yaml

Create README.md
  worker/README.md
Due: .azure-pipelines/worker-cicd.yaml

Fixing worker CI/CD
  .azure-pipelines/worker-cicd.yaml
  manifests/worker.yaml
Due: .azure-pipelines/worker-cicd.yaml

Update worker-cicd.yaml for Azure Pipelines
  .azure-pipelines/worker-cicd.yaml
Due: .azure-pipelines/worker-cicd.yaml

CI/CD changes for result
  .azure-pipelines/worker-cicd.yaml
  result.yaml
  result/Dockerfile
Due: .azure-pipelines/result-cicd.yaml, .azure-pipelines/worker-cicd.yaml

changes for deployment
  result/helm/templates/deployment.yaml
  result/helm/values.yaml
Due: .azure-pipelines/result-cicd.yaml

correcting reference'
  result/helm/templates/deployment.yaml
  result/helm/values.yaml
  worker/helm/templates/deployment.yaml
  worker/helm/values.yaml
Due: .azure-pipelines/result-cicd.yaml, .azure-pipelines/worker-cicd.yaml

Update readme.md
  readme.md
Due: none

Create aks
  arm-templates/aks
Due: none

Cleaning up console logging
  result/server.js
  worker/Program.cs
Due: .azure-pipelines/result-cicd.yaml, .azure-pipelines/worker-cicd.yaml

Create azure-aks.json
  arm-templates/azure-aks.json
Due: none

Delete azure-aks.json
  arm-templates/azure-aks.json
Due: none

Rename aks to aks.json
  arm-templates/aks.json
Due: none

include aks name
  arm-templates/aks.json
Due: none

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Update aks.json
  arm-templates/aks.json
Due: none

correcting json
  arm-templates/aks.json
Due: none

updating concat
  arm-templates/aks.json
Due: none

updating default arm
  arm-templates/aks.json
Due: none

Delete azure-pipelines.yml
  azure-pipelines.yml
Due: none

Create worker-arm-cicd.yaml
  .azure-pipelines/worker-arm-cicd.yaml
Due: none

Set up CI with Azure Pipelines
  .azure-pipelines/worker-arm-cicd.yaml
Due: none

Update worker-arm-cicd.yaml for Azure Pipelines
  .azure-pipelines/worker-arm-cicd.yaml
Due: none

Path conditions:
  .azure-pipelines/result-cicd.yaml: any of: result, .azure-pipelines/result-cicd.yaml, manifests/result.yaml
  .azure-pipelines/vote-cicd.yaml: any of: vote, .azure-pipelines/vote-cicd.yaml, manifests/vote.yaml
  .azure-pipelines/worker-cicd.yaml: any of: worker, .azure-pipelines/worker-cicd.yaml, manifests/worker.yaml
