Repository plkt/voting-app: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/result-cicd.yaml, .azure-pipelines/vote-cicd.yaml

.azure-pipelines/result-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

.azure-pipelines/vote-cicd.yaml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

Update vote-cicd.yaml for Azure Pipelines
  .azure-pipelines/vote-cicd.yaml
Due: .azure-pipelines/vote-cicd.yaml

Update worker-cicd.yaml for Azure Pipelines
  .azure-pipelines/worker-cicd.yaml
Due: none

Update result-cicd.yaml for Azure Pipelines
  .azure-pipelines/result-cicd.yaml
Due: .azure-pipelines/result-cicd.yaml

Update README.md
  result/README.md
Due: .azure-pipelines/result-cicd.yaml

Update deployment.yaml
  result/helm/templates/deployment.yaml
Due: .azure-pipelines/result-cicd.yaml

Update style.css
  vote/static/stylesheets/style.css
Due: .azure-pipelines/vote-cicd.yaml

Update vote-cicd.yaml
  .azure-pipelines/vote-cicd.yaml
Due: .azure-pipelines/vote-cicd.yaml

Path conditions:
  .azure-pipelines/result-cicd.yaml: any of: result, .azure-pipelines/result-cicd.yaml, manifests/result.yaml
  .azure-pipelines/vote-cicd.yaml: any of: vote, .azure-pipelines/vote-cicd.yaml, manifests/vote.yaml
