Repository plkt/voting-app: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/result-cicd.yaml, .azure-pipelines/vote-cicd.yaml

Path conditions:
  .azure-pipelines/result-cicd.yaml: any of: result, .azure-pipelines/result-cicd.yaml, manifests/result.yaml
  .azure-pipelines/vote-cicd.yaml: any of: vote, .azure-pipelines/vote-cicd.yaml, manifests/vote.yaml

Update vote-cicd.yaml for Azure Pipelines
  .azure-pipelines/vote-cicd.yaml
Due: .azure-pipelines/vote-cicd.yaml

Update service.yaml
  vote/helm/templates/service.yaml
Due: .azure-pipelines/vote-cicd.yaml

removing smi methodology reference
  .azure-pipelines/vote-cicd.yaml
Due: .azure-pipelines/vote-cicd.yaml

Update FileExistenceTest.yml
  tests/FileExistenceTest.yml
Due: none

Update CI template vote-cicd.yaml for Azure Pipelines
  .azure-pipelines/vote-cicd.yaml
Due: .azure-pipelines/vote-cicd.yaml

Update Dockerfile
  vote/Dockerfile
Due: .azure-pipelines/vote-cicd.yaml

Update worker-cicd.yaml for Azure Pipelines
  .azure-pipelines/worker-cicd.yaml
Due: none

Removing namespace reference for secrets
  result/helm/templates/deployment.yaml
Due: .azure-pipelines/result-cicd.yaml
